<!DOCTYPE html>
<body>
    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/images/lms3.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Learning never ends!<i class="material-icons right">format_list_bulleted</i></span>
       <div class="progress">
      <div class="indeterminate"></div>
  </div>   
    </div>
    <div class="card-reveal"> 
    <span class="card-title grey-text text-darken-4">Courses<i class="material-icons right">close</i></span> 
    <div class="collection"> 
     <a href="/courses/{{_id}}" class="collection-item">{{name}}</a> 
    <a href="#!" class="collection-item">database 1</a> 
    <a href="#!" class="collection-item">network 1</a> 
    <a href="#!" class="collection-item">mathematics 1</a> 
    </div>
    </div>
  </div>
</body>
