
    <div class="navigation">
      <div class="col s12">
        <a href="/" class="breadcrumb">Dashboard</a>
        <a href="#!" class="breadcrumb">Courses</a>
        <a href="#!" class="breadcrumb">Software-engineering</a>
        <a href="#!" class="breadcrumb">Quiz</a>
      </div>
    </div>

<div class="quiz-container custom">
  <div id="quiz"></div>
</div>
<div style="text-align: center; margin:35px;">
<button id="previous">Previous Question</button>
<button id="next">Next Question</button>
<button id="submit">Submit Quiz</button>
<div id="results"></div>
</div>

