
<h1 class="custom">Software Engineering Quiz</h1>
<div class="quiz-container custom">
  <div id="quiz"></div>
</div>
<div style="text-align: center; margin:35px;">
<button id="previous">Previous Question</button>
<button id="next">Next Question</button>
<button id="submit">Submit Quiz</button>
<div id="results"></div>
</div>

